body{
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    overflow: scroll;
}
.text{
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 7px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large; 
    border: 4px solid black;
    /*overflow: scroll;*/
    min-height: 80vh;
}
#head{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 10px;
    border: 4px;
}
#timer{
    justify-content: center;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: #900404;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
    border: 4px;
    color: white;
    text-shadow: 
    2px 2px 0px black, 
    -2px -2px 0px black, 
    -2px 2px 0px black,  
    2px -2px 0px black;  
}
#container{
    display: none;
}
#question{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 37vh;
    padding: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large; 
    border: 4px solid black;
}
#answer_1{
    justify-content: center;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
    border: 4px;
    color: white;
    text-shadow: 
    2px 2px 0px black, 
    -2px -2px 0px black, 
    -2px 2px 0px black,
    2px -2px 0px black;
}
#answer_2{
    justify-content: center;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
    border: 4px;
    color: white;
    text-shadow: 
    2px 2px 0px black, 
    -2px -2px 0px black, 
    -2px 2px 0px black,
    2px -2px 0px black;
}
#answer_3{
    justify-content: center;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
    border: 4px;
    color: white;
    text-shadow: 
    2px 2px 0px black, 
    -2px -2px 0px black, 
    -2px 2px 0px black,
    2px -2px 0px black;
}
#answer_4{
    justify-content: center;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: turquoise;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
    border: 4px;
    color: white;
    text-shadow: 
    2px 2px 0px black, 
    -2px -2px 0px black, 
    -2px 2px 0px black,
    2px -2px 0px black;
}
